<div class="card top-50 start-50 w-50 translate-middle shadow p-3 mb-5 bg-body rounded">
    <h2 class="display-7" style="text-align: center;">Login</h2>
    <div class="card-body">
        <form action="/usuarios/login" method="POST">
            <label for="email">Email: </label>
            <input type="email" name="email" class="form-control" required>
            <label for="senha" class="mt-2">Senha: </label>
            <input type="password" name="senha" class="form-control" required>
            <div class="d-grid gap-2">
                <button class="btn btn-success mt-3" type="submit">Entrar</button>
            </div>
        </form>
    </div>
</div>