<div class="card bg-light shadow p-3 mb-5 bg-body rounded bg-gradient">
    <div class="card-body">
        <h1>{{postagem.titulo}}</h1>
        <hr>
        <small>Data de publicação: {{postagem.data}}</small><br>
        <hr>
        {{postagem.conteudo}}
    </div>
</div>