<div class="bg-dark bg-gradient p-5 rounded-lg text-bg-primary m-3 mw-100">
    <h1 class="display-4">Painel do admin</h1>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/admin/categorias" role="button">Categorias</a>
    <a class="btn btn-primary btn-lg" href="/admin/postagens" style="margin-left: 20px;" role="button">Postagens</a>
</div>